pkgbase = owncord-server-git
	pkgdesc = Self-hosted OwnCord chat server (development version)
	pkgver = 0.0.0.r0.g0000000
	pkgrel = 1
	url = https://github.com/J3vb/OwnCord
	install = owncord-server-git.install
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-or-later
	makedepends = git
	makedepends = go
	depends = ca-certificates
	depends = glibc
	provides = owncord-server
	conflicts = owncord-server
	source = git+https://github.com/J3vb/OwnCord.git
	source = owncord-server.service
	source = owncord-server.sysusers
	source = owncord-server.tmpfiles
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = owncord-server-git
